@media only screen and (max-width: 767px) {

    .notification-animation-mobile::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid #3ED7FF;
    -webkit-animation: ripple 1s linear infinite;
    animation: ripple 1s linear infinite;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    }

    .notification-count-mobile{
     position: absolute;
    top: 0px;
    right: 5px;
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    font-size: 10px;
    background-color: #3ED7FF;
    color: var(--white-color);
    text-align: center;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    display: inherit ! important;
    }

    .unmember-add{
background: linear-gradient(91.83deg, #542068 4.56%, #7B215E 94.97%);
height: 29px !important;
border-radius: 6px !important;
width: 70px !important;
margin-left: 5px !important;
font-size: 10px !important;
margin-top: 7px !important;
    }

    .all-notifications-body .item .text h4 a {
        color: var(--black-color);
        font-size: 13px !important;
    }

    .all-notifications-body .item .text span {
        color: var(--paragraph-color);
        font-size: 12px !important;
        display: block;
        margin-top: 1px !important;
    }

    .member-add i {
        padding-right: 3px;
    }

    .global-search-filter{
        background-color: #7b215e;
        border: none;
        color: white;
        margin-left: 22px;
        margin-top: 7%;
    }

    .global-search-suggestions {
        list-style-type: none;
        padding: 0;
        margin-left: 1px ! important;
        border-radius: 11px;
        margin-top: 4% ! important;
        FONT-WEIGHT: 100;
        display: none;
        width: 100%;
        background-color: #7b215eed;
        position: absolute;
    }

    .mobile-menu-burger{
        display:inherit;
    }
    .mobile-global-search-new{
        justify-content: center;
        display: flex;
    }
    .search-box-mobile {
        border: solid 5px black;
        display: inline-block;
        position: relative;
        border-radius: 50px;
      }
      .search-box-mobile input[type=text] {
        font-family: Raleway, sans-serif;
        font-size: 20px;
        font-weight: bold;
        width: 50px;
        height: 50px;
        padding: 5px 40px 5px 10px;
        border: none;
        box-sizing: border-box;
        border-radius: 50px;
        transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
      }
      .search-box-mobile input[type=text]:focus {
        outline: none;
      }
      .search-box-mobile input[type=text]:focus, .search-box-mobile input[type=text]:not(:placeholder-shown) {
        width: 300px;
        transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
      }
      .search-box-mobile input[type=text]:focus + button[type=reset], .search-box-mobile input[type=text]:not(:placeholder-shown) + button[type=reset] {
        bottom: 13px;
        right: 10px;
        transition: bottom 150ms ease-out 800ms, right 150ms ease-out 800ms;
      }
      .search-box-mobile input[type=text]:focus + button[type=reset]:after, .search-box-mobile input[type=text]:not(:placeholder-shown) + button[type=reset]:after {
        top: 0;
        right: 10px;
        opacity: 1;
        transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
      }
      .search-box-mobile button[type=reset] {
        background-color: transparent;
        width: 25px;
        height: 25px;
        border: 0;
        padding: 0;
        outline: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -13px;
        right: -15px;
        transition: bottom 150ms ease-out 150ms, right 150ms ease-out 150ms;
      }
      .search-box-mobile button[type=reset]:before, .search-box-mobile button[type=reset]:after {
        content: "";
        height: 25px;
        border-left: solid 5px black;
        position: absolute;
        transform: rotate(-45deg);
      }
      .search-box-mobile button[type=reset]:after {
        transform: rotate(45deg);
        opacity: 0;
        top: -20px;
        right: -10px;
        transition: top 150ms ease-out, right 150ms ease-out, opacity 150ms ease-out;
      }

    #footer-website-content{
        display:initial ! important;
    }

    .my-profile-inner-box .profile-info-box .inner-info-box .info-image .icon {
        position: absolute !important;
        bottom: 5px !important;
        right: unset !important;
        padding-left: 61px !important;
    }

    .my-profile-inner-box .profile-info-box .inner-info-box .info-image .icon a i {
        display: inline-block !important;
        height: 23px !important;
        width: 23px !important;
        line-height: 27px !important;
        font-size: 14px !important;
    }

    .private-account-text{
        padding-bottom: 11% !important;
    }

    #copybutton {
        top: 72px !important    ;
    }
    #single-timeline-new-mobile{
        width: 100% !important;
        justify-content: center !important;
        display: flex !important;
    }
    #single-profile-social-mobile{
        width: 100% !important;
    }

    #prvate-single-lock {
        justify-content: center !important;
        display: flex !important;
        padding-top: 10% !important;
    }

    .my-profile-inner-box .profile-info-box .profile-social {
        padding-top: 2% !important;
        position: inherit !important;
        right: 0px !important;
        display: flex !important;
        justify-content: center !important;
    }

    .member-add {
        background-color: #ffffff;
        height: 29px !important;
        border-radius: 6px !important;
        width: 70px !important;
        margin-left:5px !important;
        font-size: 10px !important;
        margin-top: 7px !important;
    }

    .news-feed-area .news-feed-form form .button-group{
        margin-bottom: -10px ! important;
        margin-top: 9px ! important;
    }

    .news-feed-area .news-feed-form form .button-group .audio-btn button{
        font-size: 12px ! important;
        padding-left: 5px ! important;
    }

    .news-feed-area .news-feed-form form .button-group .audio-btn button img{
        width:14px ! important;
    }
    .news-feed-area .news-feed-form form .button-group .photo-btn p i{
        font-size: 15px ! important;
    }
    .news-feed-area .news-feed-form form .button-group .photo-btn p{
        font-size: 12px ! important;;
        padding-left: 18px ! important;;
    }

    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react .post-like-count{
        margin-left: 3px ! important;
        border-left: 1px solid #e1e1e1 ! important;
        padding-left: 7px ! important;
        font-size: 12px ! important;
    }

    .others-option-for-responsive .option-inner .others-options .option-item .profile-nav-item .dropdown-bs-toggle::before{
        top: -34px ! important;
    }

    #profile-leftsidebar{
        max-height: 100% !important;
        overflow: auto !important;
        }

            #profile-rightsidebar{
                max-height: 100% !important;
                overflow: auto !important;
                }


    .paid-model-content {
        background: url(/frontend/assets/images/subspaid.png);
        height: auto ! important;
        margin-top: 0% ! important;
        margin-bottom: 5% ! important;
        padding-left: 1%;
    }

    .paid-model-note {
        font-size: 10px ! important;
        padding-top: 3% ! important;
        padding-bottom: 16px ! important;
    }

    .paid-subs-button {
        display: inline-block ! important;
        background-color: #542068 ! important;
        color: var(--white-color) !important;
        padding: 4px 14px ! important;
        font-size: 6px ! important;
        border-radius: 3px ! important;
        -webkit-transition: var(--transition) ! important;
        transition: var(--transition) ! important;
    }

    .paid-subs {
        text-align: center ! important;
        padding-top: 5% ! important;
    }

    .paid-model-text p {
        font-size: 10px ! important;
    }

    .paid-model-text h6 {
        margin-top: -5% ! important;
        font-size: 10px ! important;
        margin-bottom: -4% ! important;
    }

    .paid-model-text p {
        font-size: 10px ! important;
    }

    .my-profile-inner-box .profile-info-box .inner-info-box .statistics {
        width: 100% ! important;
        margin-left: 0px ! important;
        display: flex ! important;
        justify-content: center ! important;
    }


    .my-profile-inner-box .profile-info-box .inner-info-box .statistics1 {
        width: 100% ! important;
        margin-left: 0px ! important;
        display: flex ! important;
        justify-content: center ! important;
        margin-top: 10px ! important;
    }

    .free-btn {
        font-size: 13px ! important;
    }

    .like-popup-body .item .text {
        padding-left: 64px ! important;
    }

    .modal-content {
        width: 100% ! important;
    }

    .Paid-btn {
        font-size: 12px ! important;
    }

    .profile-image-view {
        height: 100px ! important;
        cursor: pointer ! important;
        width:100% ! important;
    }

    .mobile-newsarea{
         order: 1;
    }

    .mobile-leftside{
        order: 2;
   }

   .mobile-rightside{
    order: 3;
}

    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react #like-count-respon{
    display:inherit ! important;
    }

    .my-profile-inner-box .profile-info-box .inner-info-box .info-image-1 {
        margin-top: -66px;
        justify-content: center ! important;;
        display: flex ! important;;
        position: relative;
    }

    .right-sidebar-area{
        display: none ! important;
    }

    #right-sidebar-area {
        height: 681px ! important;
        display:inherit ! important;
        top: 1.1rem ! important;
        left: -15px ! important;
        width: 110% ! important;
    }

    #contact-search-box {
        position: fixed ! important;
        bottom: 0 ! important;
        width: 100% ! important;
        margin-left: -15px ! important;
    }


    .side-home-slide-right {
        position: inherit !important;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden scroll;
    }

    .side-home-slide {
        position: inherit !important;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden scroll;
    }

    .sidemenu-area {
      z-index: 9999 ! important;
      left: -100% ! important;
      top: 4.0rem ! important;
    }
    .sidemenu-area.active-sidemenu-area {
      left: 0 ! important;
      width: 160px ! important;
    }
    .sidemenu-area.active-sidemenu-area .sidemenu-body {
      -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.1) ! important;
              box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.1) ! important;
      background: var(--white-color);
    }
    .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav {
      padding: 25px 15px ! important;
    }
    .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item .nav-link {
      padding: 5px 0 5px 40px ! important;
    }
    .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item .nav-link .icon {
      height: 30px ! important;
      width: 30px ! important;
      line-height: 35px ! important;
      background-color: #F4F7FC ! important;
      color: var(--black-color) ! important;
      position: absolute ! important;
      left: 0 ! important;
      top: 50% ! important;
      -webkit-transform: translateY(-50%) ! important;
              transform: translateY(-50%) ! important;
    }
    .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item .nav-link::before {
      left: -8px ! important;
      background-color: var(--main-color) ! important;
    }
    .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item .nav-link .menu-title {
      display: block ! important;
    }
    .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item.active .nav-link, .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item:hover .nav-link {
      color: #542068 ! important;
    }
    .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item.active .nav-link .icon, .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item:hover .nav-link .icon {
      color: var(--white-color) ! important;
      background-color: #542068 ! important;
    }
    .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item.active .nav-link::before, .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item:hover .nav-link::before {
      height: 100% ! important;
      opacity: 1 ! important;
      visibility: visible ! important;
    }
    .main-content-wrapper {
      padding-top: 75px ! important;
      padding-left: 10px ! important;
      padding-right: 10px ! important;
      padding-bottom: 50px ! important;
    }
    .main-content-wrapper .navbar-area {
      left: 0 ! important;
      width: 100% ! important;
      width: 100% ! important;
    }
    .main-content-wrapper .navbar-area .main-navbar {
      padding: 10px ! important;
      height: 73px ! important;
    }
    .main-content-wrapper .navbar-area .main-navbar .navbar-brand {
      max-width: 125px ! important;
    }
    .news-feed-area {
      margin-top: 25px ! important;
      margin-bottom: 25px ! important;
    }
    /* .news-feed-area .news-feed-form form .button-group.d-flex {
      display: block !important;
    } */
    .news-feed-area .news-feed-form form .button-group li {
      display: inline-block ! important;
      margin-right: 5px ! important;
    }
    .news-feed-area .news-feed-form form .button-group li:last-child {
      margin-right: 0 ! important;
    }
    .news-feed-area .news-feed-form form .button-group .photo-btn button {
      font-size: 12px ! important;
      padding-left: 15px ! important;
    }
    .news-feed-area .news-feed-form form .button-group .photo-btn button i {
      font-size: 12px ! important;
    }
    .news-feed-area .news-feed-form form .button-group .video-btn button {
      font-size: 12px ! important;
      padding-left: 19px ! important;
    }
    .news-feed-area .news-feed-form form .button-group .video-btn button i {
      font-size: 15px ! important;
    }
    .news-feed-area .news-feed-form form .button-group .tag-btn button {
      font-size: 12px ! important;
      padding-left: 15px ! important;
    }
    .news-feed-area .news-feed-form form .button-group .tag-btn button i {
      font-size: 12px ! important;
    }
    .news-feed-area .news-feed-form form .button-group .post-btn button {
      padding: 2px 10px ! important;
      font-size: 12px ! important;
    }
    .news-feed-area .news-feed-post .post-header .image a img {
      max-width: 55px ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react {
      width: 75px ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react .number {
      display: none ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react .react-list {
      width: 252px ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react a {
      max-width: 100% ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-comment .number {
        color: var(--paragraph-color);
        margin-left: 3px ! important;
        border-left: 1px solid #e1e1e1 ! important;
        padding-left: 7px ! important;
        font-size: 12px ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-comment span {
        font-size: 12px ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-comment i {
        font-size: 11px ! important;
        position: relative ! important;
        top: 3px ! important;
        margin-right: 6px ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react i {
        font-size: 11px ! important;
        position: relative ! important;
        top: 2px ! important;
        margin-right: 0px ! important;
    }

    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-share i {
        font-size: 12px ! important;
        position: relative ! important;
        top: 3px ! important;
        margin-right: 6px ! important;
    }

    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-share span {
        color: var(--paragraph-color);
        font-size: 12px ! important;
    }

    /* .profile-bg-view {
        position: inherit ! important;
        height: 100% ! important;
    } */

    .number-share {
        color: var(--paragraph-color);
        margin-left: 10px ! important;
        border-left: 1px solid #e1e1e1 ! important;
        padding-left: 7px ! important;
        font-size: 12px ! important;
        padding-top: 5px ! important;
    }

    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react span {
        color: var(--paragraph-color);
        font-size: 12px ! important;
        margin-left: 3px;
    }

    .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-share .number {
      display: none ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-comment-list .comment-list .comment-image img {
      max-width: 50px ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-comment-list .comment-list .comment-info {
      padding-left: 15px ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-footer .footer-image a img {
      max-width: 40px ! important;
    }
    .news-feed-area .news-feed-post .post-body .post-footer .form-group {
      padding-left: 50px ! important;
    }
    .widget-area .widget-view-profile .profile-box .text {
      width: 385px ! important;
    }
    .widget-area .widget-who-following .following-item .name {
      width: 385px ! important;
    }
    .right-sidebar-area {
      position: relative ! important;
      top: 0 ! important;
      width: 100% ! important;
      margin-top: 30px ! important;
    }
    .my-profile-inner-box .profile-cover-image .edit-cover-btn {
      right: 10px ! important;
      bottom: 10px ! important;
    }
    .my-profile-inner-box .profile-info-box {
      padding: 20px ! important;
    }
    .my-profile-inner-box .profile-info-box .inner-info-box .info-image {
      margin-top: 0 ! important;
      justify-content: center;
    display: flex;
    }
    .my-profile-inner-box .profile-info-box .inner-info-box.d-flex {
      display: block !important ;
    }
    .my-profile-inner-box .profile-info-box .inner-info-box .info-text {
      margin-top: 15px ! important;
      width: 100% ! important;
    }
    .my-profile-inner-box .profile-info-box .inner-info-box .info-text.ms-3 {
      margin-left: 0 !important;
      text-align: center;
    }
    .my-profile-inner-box .profile-info-box .profile-list-tabs {
      margin-top: 15px ! important;
      justify-content: center ! important;
    display: grid ! important;
    }
    .my-profile-inner-box .profile-info-box .profile-list-tabs .nav .nav-item {
      margin-right: 10px ! important;
    }
    .my-profile-inner-box .profile-info-box .profile-list-tabs .nav .nav-item .nav-link {
      font-size: 11px ! important;
    }
    .friends-inner-box-style {
      padding: 25px ! important;
    }
    .friends-inner-box-style.d-flex {
      display: block !important;
    }
    .friends-inner-box-style .title {
      margin-bottom: 15px ! important;
    }
    .friends-inner-box-style .friends-search-box {
      width: 250px ! important;
      margin-top: 20px ! important;
    }
    .friends-inner-box-style .nav .nav-item {
      margin-right: 10px ! important;
    }
    .friends-inner-box-style .nav .nav-item .nav-link {
      font-size: 14px ! important;
    }
    .photos-inner-box-style {
      padding: 25px ! important;
    }
    .photos-inner-box-style.d-flex {
      display: block !important;
    }
    .photos-inner-box-style .title {
      margin-bottom: 15px ! important;
    }
    .photos-inner-box-style .photos-search-box {
      width: 250px ! important;
      margin-top: 20px ! important;
    }
    .photos-inner-box-style .nav .nav-item {
      margin-right: 10px ! important;
    }
    .photos-inner-box-style .nav .nav-item .nav-link {
      font-size: 14px ! important;
    }
    .single-friends-card .friends-content .friends-info .text {
      width: 355px ! important;
    }
    .account-setting-list-tabs {
      padding: 20px ! important;
    }
    .account-setting-list-tabs .nav .nav-item {
      margin-right: 20px ! important;
    }
    .account-setting-list-tabs .nav .nav-item .nav-link {
      font-size: 13px ! important;
    }
    .account-setting-form {
      padding: 20px ! important;
    }
    .account-setting-notification {
      padding: 20px ! important;
    }
    .account-setting-notification .other-notification-content {
      margin-bottom: 25px ! important;
    }
    .account-setting-message {
      padding: 20px ! important;
    }
    .privacy-box-content {
      padding: 20px ! important;
    }
    .page-banner-box {
      padding: 50px ! important;
    }
    .page-banner-box h3 {
      font-size: 25px ! important;
    }
    .help-and-support-search-box {
      padding: 20px ! important;
    }
    .help-and-support-box-content {
      padding: 20px ! important;
    }
    .all-notifications-body {
      padding: 20px ! important;
    }
    .all-notifications-body .item .icon a i {
      font-size: 15px ! important;
    }
    .all-messages-body {
      padding: 20px ! important;
    }
    .all-messages-body .messages-chat-container .chat-content .chat .chat-body .chat-message {
      margin: 12px 0 21.28px 15.28px ! important;
    }
    .all-messages-body .messages-chat-container .chat-content .chat .chat-avatar {
      position: relative ! important;
      top: 12px ! important;
    }
    .all-messages-body .messages-chat-container .chat-content .chat.chat-left .chat-avatar {
      top: 12px ! important;
    }
    .all-messages-body .chat-list-footer form {
      padding-right: 60px ! important;
    }
    .all-messages-body .chat-list-footer form .send-btn {
      padding: 0 10px 0 ! important;
    }
    .groups-inner-box-style {
      background-color: var(--white-color) ! important;
      padding: 25px ! important;
      border-radius: 5px ! important;
      margin-top: 25px ! important;
      padding: 25px ! important;
    }
    .groups-inner-box-style.d-flex {
      display: block !important;
    }
    .groups-inner-box-style .title {
      margin-bottom: 15px ! important;
    }
    .groups-inner-box-style .groups-search-box {
      width: 250px ! important;
      margin-top: 20px ! important;
    }
    .groups-inner-box-style .nav .nav-item {
      margin-right: 10px ! important;
    }
    .groups-inner-box-style .nav .nav-item .nav-link {
      font-size: 14px  ! important;
    }
    .single-groups-card .groups-content .groups-info .text {
      width: 355px  ! important;
    }
    .favourite-table {
      padding: 20px  ! important;
      margin-top: 20px  ! important;
    }
    .favourite-table table tbody tr td.info {
      padding-right: 20px  ! important;
    }
    .favourite-information-box .profile-box .text {
      width: 355px  ! important;
    }
    .favourite-inner-box-style .title {
      margin-bottom: 20px  ! important;
    }
    .favourite-inner-box-style.d-flex {
      display: block !important;
    }
    .favourite-inner-box-style .favourite-search-box {
      width: 252px  ! important;
    }
    .events-inner-box-style {
      background-color: var(--white-color) ! important;
      padding: 25px  ! important;
      border-radius: 5px  ! important;
      margin-top: 25px  ! important;
      padding: 25px ! important;
    }
    .events-inner-box-style.d-flex {
      display: block !important;
    }
    .events-inner-box-style .title {
      margin-bottom: 15px ! important;
    }
    .events-inner-box-style .events-search-box {
      width: 250px ! important;
      margin-top: 20px ! important;
    }
    .events-inner-box-style .nav .nav-item {
      margin-right: 10px ! important;
    }
    .events-inner-box-style .nav .nav-item .nav-link {
      font-size: 14px ! important;
    }
    .live-chat-body {
      padding: 20px ! important;
    }
    .live-chat-body .live-chat-header .live-chat-info {
      padding-left: 38px ! important;
    }
    .live-chat-body .live-chat-header .live-chat-info a img {
      max-width: 30px ! important;
    }
    .live-chat-body .live-chat-header .live-chat-info h3 {
      font-size: 14px ! important;
    }
    .live-chat-body .live-chat-header .live-chat-right li {
      margin-right: 0 ! important;
    }
    .live-chat-body .live-chat-header .live-chat-right li .btn i {
      height: 30px ! important;
      width: 30px ! important;
      line-height: 30px ! important;
      font-size: 12px ! important;
    }
    .live-chat-body .live-chat-container .chat-content .chat .chat-body .chat-message {
      margin: 12px 0 21.28px 15.28px ! important;
    }
    .live-chat-body .live-chat-container .chat-content .chat .chat-avatar {
      position: relative ! important;
      top: 12px ! important;
    }
    .live-chat-body .live-chat-container .chat-content .chat.chat-left .chat-avatar {
      top: 12px ! important;
    }
    .live-chat-body .chat-list-footer form {
      padding-right: 60px ! important;
    }
    .live-chat-body .chat-list-footer form .send-btn {
      padding: 0 10px 0 ! important;
    }
    .all-birthday-body {
      padding: 20px ! important;
    }
    .all-birthday-body .birthday-send-box .send-item {
      padding-left: 0 ! important;
    }
    .all-birthday-body .birthday-send-box .send-item .rounded-circle {
      position: relative ! important;
    }
    .all-birthday-body .birthday-send-box .send-item .send-content {
      margin-top: 15px ! important;
    }
    .all-birthday-body .birthday-list-box .list-item .list-content {
      margin-bottom: 25px ! important;
    }
    .marketplace-inner-box-style .title {
      margin-bottom: 15px ! important;
    }
    .marketplace-inner-box-style.d-flex {
      display: block !important;
    }
    .products-details-image {
      height: 350px ! important;
    }
    .login-form {
      padding: 20px ! important;
    }
    .login-form h2 {
      margin-bottom: 20px ! important;
      font-size: 18px ! important;
    }
    .login-form form .lost-your-password-wrap {
      margin-top: -12px ! important;
    }
    .register-form {
      padding: 20px ! important;
    }
    .register-form h2 {
      margin-bottom: 20px ! important;
      font-size: 18px ! important;
    }
    .register-form form .lost-your-password-wrap {
      margin-top: -12px ! important;
    }
    .forgot-password-form {
      padding: 20px ! important;
    }
    .forgot-password-form h2 {
      margin-bottom: 20px ! important;
      font-size: 18px ! important;
    }
  }


@media only screen and (min-width: 576px) and (max-width: 767px) {
  .main-content-wrapper .main-responsive-nav .main-responsive-menu {
    right: 70px;
  }
  .widget-area .widget-view-profile .profile-box .text {
    width: 595px;
  }
  .widget-area .widget-who-following .following-item .name {
    width: 595px;
  }
  .news-feed-area .news-feed-form form .button-group.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .news-feed-area .news-feed-form form .button-group li {
    margin-right: 0;
  }
  .news-feed-area .news-feed-form form .button-group .photo-btn button {
    font-size: 15px;
    padding-left: 28px;
  }
  .news-feed-area .news-feed-form form .button-group .photo-btn button i {
    font-size: 20px;
  }
  .news-feed-area .news-feed-form form .button-group .video-btn button {
    font-size: 15px;
    padding-left: 28px;
  }
  .news-feed-area .news-feed-form form .button-group .video-btn button i {
    font-size: 20px;
  }
  .news-feed-area .news-feed-form form .button-group .tag-btn button {
    font-size: 15px;
    padding-left: 28px;
  }
  .news-feed-area .news-feed-form form .button-group .tag-btn button i {
    font-size: 20px;
  }
  .news-feed-area .news-feed-form form .button-group .post-btn button {
    padding: 5px 25px;
    font-size: 15px;
  }
  .news-feed-area .news-feed-stories .stories-item span {
    display: block;
  }
  .favourite-information-box .profile-box .text {
    width: 555px;
  }
}

@media only screen and (min-width: 610px) and (max-width: 767px) {
  .main-content-wrapper .main-responsive-nav .main-responsive-menu {
    right: 55px;
  }
  .main-content-wrapper .others-option-for-responsive .dot-menu {
    right: -25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .search-select-category select {
        margin-top: 10px;
        background-color: #7b215e;
        border: none;
        margin-left: 12px;
        color: white;
    }

    .global-search-suggestions {
        list-style-type: none;
        padding: 0;
        margin-left: -10px;
        border-radius: 11px;
        display: none;
        margin-top: 13%;
        width: 100%;
        background-color: #7b215eed;
        position: absolute;
    }

    .tablet-search-view{
        display: inherit;
    }

    .main-content-wrapper .navbar-area .main-navbar .navbar .search-box {
        position: relative;
        width: 369px;
        margin-left: 8% ! important;
    }

    .fix-profile-img-size {
        width: 134px ! important;
    }
    .widget-area .widget-view-profile .profile-box .text span {
        margin-top: 10px ! important;
    }

    .my-profile-inner-box .profile-info-box .inner-info-box .info-image-1 {
        justify-content: center ! important;
        display: flex ! important;
    }

    .my-profile-inner-box .profile-info-box .inner-info-box .statistics1 {
        width: 100% ! important;
        justify-content: center ! important;
        display: flex ! important;
    }

    .my-profile-inner-box .profile-info-box .inner-info-box .statistics {
        width: 100% ! important;
        justify-content: center ! important;
        display: flex ! important;
    }

    .my-profile-inner-box .profile-info-box .inner-info-box .info-text {
        width: 100% ! important;
    }

    .profile-image-view {
        max-height: 146px ! important;
        cursor: pointer ! important;
    }

    .my-profile-inner-box .profile-info-box .inner-info-box .info-image .icon {
        position: absolute;
        right: unset ! important;
        padding-left: 20% ! important;
        bottom: 15px;
    }

    .my-profile-inner-box .profile-info-box .inner-info-box .info-image .icon a i {
        height: 26px ! important;
        width: 26px ! important;
        line-height: 30px ! important;
    }

    .others-option-for-responsive .option-inner .others-options .option-item .profile-nav-item .dropdown-bs-toggle::before {
        top: -34px ! important;
    }
    .side-home-slide-right {
        position: inherit !important;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden scroll;
    }

    .side-home-slide {
        position: inherit !important;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden scroll;
    }

    .mobile-newsarea{
        order: 1;
   }

   .mobile-leftside{
       order: 2;
  }

  .mobile-rightside{
   order: 3;
}
  .sidemenu-area {
    z-index: 9999;
    left: -100%;
    top: 4.0rem;
  }
  .sidemenu-area.active-sidemenu-area {
    left: 0;
    width: 160px;
  }
  .sidemenu-area.active-sidemenu-area .sidemenu-body {
    -webkit-box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.1);
            box-shadow: 0 8px 10px 0 rgba(183, 192, 206, 0.1);
    background: var(--white-color);
  }
  .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav {
    padding: 25px 15px;
  }
  .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item .nav-link {
    padding: 5px 0 5px 40px;
  }
  .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item .nav-link .icon {
    height: 30px;
    width: 30px;
    line-height: 35px;
    background-color: #F4F7FC;
    color: var(--black-color);
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item .nav-link::before {
    left: -8px;
    background-color: var(--main-color);
  }
  .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item .nav-link .menu-title {
    display: block;
  }
  .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item.active .nav-link, .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item:hover .nav-link {
    color: #542068;
  }
  .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item.active .nav-link .icon, .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item:hover .nav-link .icon {
    color: var(--white-color);
    background-color: var(--main-color);
  }
  .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item.active .nav-link::before, .sidemenu-area.active-sidemenu-area .sidemenu-body .sidemenu-nav .nav-item:hover .nav-link::before {
    height: 100%;
    background-color: #542068;
    opacity: 1;
    visibility: visible;
  }
  .main-content-wrapper {
    padding-top: 75px;
    padding-left: 10px;
    padding-bottom: 50px;
  }
  .main-content-wrapper .navbar-area {
    left: 0;
    width: 100%;
    width: 100%;
  }
  .main-content-wrapper .navbar-area .main-navbar {
    padding: 10px;
  }
  .main-content-wrapper .navbar-area .main-navbar .navbar-brand {
    max-width: 125px;
  }
  .main-content-wrapper .main-responsive-nav .main-responsive-menu {
    right: 94px;
  }
  .main-content-wrapper .others-option-for-responsive .dot-menu {
    right: 0;
  }
  .news-feed-area {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .news-feed-area .news-feed-post .post-header .image a img {
    max-width: 55px;
  }
  .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react {
    width:auto ! important;
  }
  .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react .number {
    display: none;
  }
  .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react .react-list {
    width: 252px;
  }
  .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-react a {
    max-width: 100% ! important;
  }
  .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-comment .number {
    display: none;
  }
  .news-feed-area .news-feed-post .post-body .post-meta-wrap .post-share .number {
    display: none;
  }
  .news-feed-area .news-feed-post .post-body .post-comment-list .comment-list .comment-image img {
    max-width: 50px;
  }
  .news-feed-area .news-feed-post .post-body .post-comment-list .comment-list .comment-info {
    padding-left: 60px;
  }
  .news-feed-area .news-feed-post .post-body .post-footer .footer-image a img {
    max-width: 40px;
  }
  .news-feed-area .news-feed-post .post-body .post-footer .form-group {
    padding-left: 50px;
  }
  .widget-area .widget-view-profile .profile-box .text {
    width: 620px;
  }
  .widget-area .widget-who-following .following-item .name {
    width: 620px;
  }
  .right-sidebar-area {
    top: 4.0rem;
  }
  .copyrights-area {
    text-align: start;
  }
  .my-profile-inner-box .profile-info-box {
    padding: 20px;
  }
  .my-profile-inner-box .profile-info-box .inner-info-box .info-image {
    margin-top: 0;
    justify-content: center !important;
    display: flex !important;
  }
  .my-profile-inner-box .profile-info-box .inner-info-box.d-flex {
    display: block !important;
  }
  .my-profile-inner-box .profile-info-box .inner-info-box .info-text {
    margin-top: 15px;
  }
  .my-profile-inner-box .profile-info-box .inner-info-box .info-text.ms-3 {
    margin-left: 0 !important;
    text-align: center ! important;
  }
  .my-profile-inner-box .profile-info-box .inner-info-box .statistics {
    text-align: start;
    margin-top: 10px;
  }
  .my-profile-inner-box .profile-info-box .profile-social {
    display: none;
  }
  .my-profile-inner-box .profile-info-box .profile-list-tabs {
    margin-top: 15px;
  }
  .my-profile-inner-box .profile-info-box .profile-list-tabs .nav .nav-item .nav-link {
    font-size: 14px;
  }
  .friends-inner-box-style {
    padding: 25px;
  }
  .friends-inner-box-style.d-flex {
    display: block !important;
  }
  .friends-inner-box-style .title {
    margin-bottom: 15px;
  }
  .friends-inner-box-style .friends-search-box {
    width: 250px;
    margin-top: 20px;
  }
  .photos-inner-box-style {
    padding: 25px;
  }
  .photos-inner-box-style.d-flex {
    display: block !important;
  }
  .photos-inner-box-style .title {
    margin-bottom: 15px;
  }
  .photos-inner-box-style .photos-search-box {
    width: 250px;
    margin-top: 20px;
  }
  .account-setting-list-tabs {
    padding: 15px;
  }
  .account-setting-list-tabs .nav .nav-item {
    margin-right: 10px;
  }
  .account-setting-list-tabs .nav .nav-item .nav-link {
    font-size: 13px;
  }
  .page-banner-box {
    padding: 50px;
  }
  .page-banner-box h3 {
    font-size: 30px;
  }
  .all-messages-body .messages-chat-container .chat-content .chat .chat-body .chat-message {
    margin: 12px 0 21.28px 15.28px;
  }
  .all-messages-body .messages-chat-container .chat-content .chat .chat-avatar {
    position: relative;
    top: 12px;
  }
  .all-messages-body .messages-chat-container .chat-content .chat.chat-left .chat-avatar {
    top: 12px;
  }
  .favourite-table {
    padding: 20px;
    margin-top: 20px;
  }
  .favourite-table table tbody tr td.info {
    padding-right: 20px;
  }
  .favourite-information-box .profile-box .text {
    width: 555px;
  }
  .favourite-inner-box-style .favourite-search-box {
    width: 325px;
  }
  .events-inner-box-style {
    background-color: var(--white-color);
    padding: 25px;
    border-radius: 5px;
    margin-top: 25px;
    padding: 25px;
  }
  .events-inner-box-style.d-flex {
    display: block !important;
  }
  .events-inner-box-style .title {
    margin-bottom: 15px;
  }
  .events-inner-box-style .events-search-box {
    width: 250px;
    margin-top: 20px;
  }
  .events-inner-box-style .nav .nav-item {
    margin-right: 10px;
  }
  .events-inner-box-style .nav .nav-item .nav-link {
    font-size: 14px;
  }
  .live-chat-body .live-chat-container .chat-content .chat .chat-body .chat-message {
    margin: 12px 0 21.28px 15.28px;
  }
  .live-chat-body .live-chat-container .chat-content .chat .chat-avatar {
    position: relative;
    top: 12px;
  }
  .live-chat-body .live-chat-container .chat-content .chat.chat-left .chat-avatar {
    top: 12px;
  }
  .all-birthday-body {
    padding: 20px;
  }
  .all-birthday-body .birthday-list-box .list-item .list-content {
    padding-left: 55px;
  }
  .all-birthday-body .birthday-list-box .list-item .list-content .rounded-circle {
    max-width: 45px;
  }
  .all-birthday-body .birthday-list-box .list-item .list-content .text {
    top: -20px;
  }
  .products-details-image {
    height: 350px;
  }
}



/* @media only screen and (min-width: 1400px) and (max-width: 1449px) {
  .widget-area .widget-view-profile .profile-statistics li {
    margin-right: 15px;
  }
  .widget-area .widget-view-profile .profile-statistics li::before {
    right: -10px;
  }
  .widget-area .widget-view-profile .profile-likes ul li {
    margin-left: -10px;
    margin-right: -10px;
  }
  .widget-area .widget-birthday .birthday-title h3 {
    font-size: 15px;
  }
  .widget-area .widget-birthday .birthday-title span a {
    font-size: 13px;
  }
  .widget-area .widget-birthday .item .thumb {
    width: 45px;
    height: 45px;
  }
  .widget-area .widget-birthday .item .thumb .fullimage {
    width: 45px;
    height: 45px;
  }
  .widget-area .widget-birthday .item .info .title {
    font-size: 14px;
  }
  .news-feed-area .news-feed-stories .stories-item span {
    font-size: 13px;
  }
  .single-video-card {
    padding: 10px;
  }
} */

@media only screen and (min-width: 1550px) {
  .my-profile-inner-box .profile-info-box .inner-info-box .info-text {
    width: 900px;
  }
  .single-friends-card .friends-content .friends-info .text {
    width: 205px;
    margin-top: 5px;
  }
  .single-groups-card .groups-content .groups-info .text {
    width: 205px;
    margin-top: 5px;
  }
  .favourite-information-box .profile-box .text {
    width: 205px;
  }
  .live-chat-slides .chat-box .image .status-online {
    right: 35px;
    top: 10px;
  }
  .profile-authentication-area {
    padding-top: 210px;
    padding-bottom: 210px;
  }
}

/*# sourceMappingURL=responsive.css.map */
